In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import GRU, Dense, Dropout
from tensorflow.keras.optimizers import Adam
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

#from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import GridSearchCV, KFold
from sklearn.base import BaseEstimator, RegressorMixin
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from keras.layers import LSTM
from sklearn.base import BaseEstimator, RegressorMixin
from keras.models import Sequential
from tensorflow.keras.models import Model
from keras.layers import Input, GRU, LSTM, Dense, Dropout, Concatenate, Reshape
from keras.optimizers import Adam
from sklearn.svm import SVR
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from tensorflow.keras.models import load_model

In [33]:
train = pd.read_csv('train_Minterpolate.csv')
train.head()

,fc_year,fc_month,fc_day,fc_hour,stn4contest,dh,ef_year,ef_month,ef_day,ef_hour,...,v02,v03,v04,v05,v06,v07,v08,v09,vv,class_interval
0,A,5,1,9,STN001,3,A,5,1,12,...,0,0,0,0,0,0,0,0,0.0,0
1,A,5,1,9,STN001,6,A,5,1,15,...,0,0,0,0,0,0,0,0,0.0,0
2,A,5,1,9,STN001,9,A,5,1,18,...,0,0,0,0,0,0,0,0,0.0,0
3,A,5,1,9,STN001,12,A,5,1,21,...,0,0,0,0,0,0,0,0,0.0,0
4,A,5,1,9,STN001,15,A,5,2,0,...,0,0,0,0,0,0,0,0,0.0,0

In [4]:
test = pd.read_csv('rainfall_test.csv')
test.head()

,Unnamed: 0,rainfall_test.fc_year,rainfall_test.fc_month,rainfall_test.fc_day,rainfall_test.fc_hour,rainfall_test.stn4contest,rainfall_test.dh,rainfall_test.ef_year,rainfall_test.ef_month,rainfall_test.ef_day,...,rainfall_test.v01,rainfall_test.v02,rainfall_test.v03,rainfall_test.v04,rainfall_test.v05,rainfall_test.v06,rainfall_test.v07,rainfall_test.v08,rainfall_test.v09,rainfall_test.class_interval
0,1,D,5,1,9,STN031,3,D,5,1,...,68,46,13,1,0,0,0,0,0,NaN
1,2,D,5,1,9,STN031,6,D,5,1,...,83,66,26,5,0,0,0,0,0,NaN
2,3,D,5,1,9,STN031,9,D,5,1,...,17,6,0,0,0,0,0,0,0,NaN
3,4,D,5,1,9,STN031,12,D,5,1,...,0,0,0,0,0,0,0,0,0,NaN
4,5,D,5,1,9,STN031,15,D,5,2,...,0,0,0,0,0,0,0,0,0,NaN

In [34]:
df = train.iloc[:, :19]

df['ef_year_temp'] = df['ef_year'].replace({'A': '2020', 'B': '2021', 'C': '2022'})
df['ef_datetime'] = pd.to_datetime(df[['ef_year_temp', 'ef_month', 'ef_day', 'ef_hour']].astype(str).agg('-'.join, axis=1), format='%Y-%m-%d-%H')
df['weight'] = 1 / df['dh']

for var in ['v01', 'v02', 'v03', 'v04', 'v05', 'v06', 'v07', 'v08', 'v09']:
    df[f'{var}_weighted'] = df[var] * df['weight']

weighted_df = df.groupby(['stn4contest', 'ef_datetime']).apply(
    lambda x: pd.Series({
        'v01': np.average(x['v01'], weights=x['weight']),
        'v02': np.average(x['v02'], weights=x['weight']),
        'v03': np.average(x['v03'], weights=x['weight']),
        'v04': np.average(x['v04'], weights=x['weight']),
        'v05': np.average(x['v05'], weights=x['weight']),
        'v06': np.average(x['v06'], weights=x['weight']),
        'v07': np.average(x['v07'], weights=x['weight']),
        'v08': np.average(x['v08'], weights=x['weight']),
        'v09': np.average(x['v09'], weights=x['weight'])
    })
).reset_index()

train_y = train.groupby(['stn4contest', 'ef_year', 'ef_month', 'ef_day', 'ef_hour'])[['vv', 'class_interval']].mean().reset_index(drop=True)

weighted_df['vv'] = train_y['vv']
weighted_df['class_interval'] = train_y['class_interval']
weighted_df = weighted_df.astype({'class_interval': 'int'})

weighted_df['year'] = weighted_df['ef_datetime'].dt.year
weighted_df['month'] = weighted_df['ef_datetime'].dt.month
weighted_df['day'] = weighted_df['ef_datetime'].dt.day
weighted_df['hour'] = weighted_df['ef_datetime'].dt.hour

encoder = LabelEncoder()
stn_label = encoder.fit_transform(weighted_df['stn4contest'])
weighted_df['stn4contest'] = stn_label
weighted_df = weighted_df.drop(columns=['ef_datetime'])

data = weighted_df
data.head()

,stn4contest,v01,v02,v03,v04,v05,v06,v07,v08,v09,vv,class_interval,year,month,day,hour
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2020,5,1,12
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2020,5,1,15
2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2020,5,1,18
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2020,5,1,21
4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2020,5,2,0

In [35]:
features = data[['stn4contest', 'year', 'month', 'day', 'hour', 'v01', 'v02', 'v03', 'v04', 'v05', 'v06', 'v07', 'v08', 'v09']]
target = data['vv']

train_data = data[data['stn4contest'] <= 15]
test_data = data[data['stn4contest'] > 15]

X_train = train_data[['stn4contest', 'year', 'month', 'day', 'hour', 'v01', 'v02', 'v03', 'v04', 'v05', 'v06', 'v07', 'v08', 'v09']]
y_train = train_data['vv']

X_test = test_data[['stn4contest', 'year', 'month', 'day', 'hour', 'v01', 'v02', 'v03', 'v04', 'v05', 'v06', 'v07', 'v08', 'v09']]
y_test = test_data['vv']

scaler_X = MinMaxScaler()
scaler_y = MinMaxScaler()

X_train_scaled = scaler_X.fit_transform(X_train)
X_test_scaled = scaler_X.transform(X_test)

#y_train_scaled = scaler_y.fit_transform(y_train.values.reshape(-1, 1))
#y_test_scaled = scaler_y.transform(y_test.values.reshape(-1, 1))

In [36]:
# 입력 데이터의 형태 정의 (예: 특성 개수는 X_train.shape[1])
input_shape = (X_train_scaled.shape[1],)

# 입력층 정의
inputs = Input(shape=input_shape)

# Reshape 레이어로 입력 데이터를 3D 텐서로 변환
reshaped_inputs = Reshape((input_shape[0], 1))(inputs)

# GRU 레이어 정의
gru_output = GRU(64, return_sequences=False)(reshaped_inputs)

# LSTM 레이어 정의
lstm_output = LSTM(64, return_sequences=False)(reshaped_inputs)

# GRU와 LSTM 출력을 결합
combined = Concatenate()([gru_output, lstm_output])

# 최종 출력층 정의 (회귀를 위한 출력층)
outputs = Dense(1)(combined)

# 모델 정의
ensemble_model = Model(inputs, outputs)

# 모델 컴파일
ensemble_model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

# 모델 요약 출력
ensemble_model.summary()

Model: "functional_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                  ┃ Output Shape              ┃         Param # ┃ Connected to               ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━┩
│ input_layer (InputLayer)      │ (None, 14)                │               0 │ -                          │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ reshape (Reshape)             │ (None, 14, 1)             │               0 │ input_layer[0][0]          │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ gru (GRU)                     │ (None, 64)                │          12,864 │ reshape[0][0]              │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ lstm (LSTM)                   │ (None, 64)                │          16,896 │ reshape[0][0]              │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ concatenate (Concatenate)     │ (None, 128)               │               0 │ gru[0][0], lstm[0][0]      │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ dense (Dense)                 │ (None, 1)                 │             129 │ concatenate[0][0]          │
└───────────────────────────────┴───────────────────────────┴─────────────────┴────────────────────────────┘

 Total params: 29,889 (116.75 KB)

 Trainable params: 29,889 (116.75 KB)

 Non-trainable params: 0 (0.00 B)

In [37]:
ensemble_model.fit(X_train_scaled, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 8s 3ms/step - loss: 15.6883 - mae: 1.0888 - val_loss: 16.7494 - val_mae: 0.9121
Epoch 2/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 11.9170 - mae: 0.8635 - val_loss: 15.8425 - val_mae: 0.9662
Epoch 3/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 11.6090 - mae: 0.8540 - val_loss: 15.9246 - val_mae: 0.8773
Epoch 4/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 11.6140 - mae: 0.8497 - val_loss: 16.5273 - val_mae: 0.8390
Epoch 5/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 9.9578 - mae: 0.8000 - val_loss: 16.1343 - val_mae: 0.9952
Epoch 6/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 9.2036 - mae: 0.7994 - val_loss: 15.9589 - val_mae: 0.9106
Epoch 7/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.9092 - mae: 0.8445 - val_loss: 15.6846 - val_mae: 0.9027
Epoch 8/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 12.5882 - mae: 0.8614 - val_loss: 15.7067 - val_mae: 0.9814
Epoch 9/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.7303 - mae: 0.8379 - val_loss: 16.2260 - val_mae: 0.8736
Epoch 10/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.5311 - mae: 0.8239 - val_loss: 15.5833 - val_mae: 0.9388
Epoch 11/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.1658 - mae: 0.8211 - val_loss: 15.8241 - val_mae: 0.9114
Epoch 12/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 11.8985 - mae: 0.8315 - val_loss: 15.8913 - val_mae: 0.9538
Epoch 13/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 11.3459 - mae: 0.8375 - val_loss: 15.7419 - val_mae: 0.9117
Epoch 14/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.2348 - mae: 0.8286 - val_loss: 15.4793 - val_mae: 1.0137
Epoch 15/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.4357 - mae: 0.8298 - val_loss: 15.9098 - val_mae: 0.8949
Epoch 16/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.1788 - mae: 0.8360 - val_loss: 15.7189 - val_mae: 1.0693
Epoch 17/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 12.2614 - mae: 0.8499 - val_loss: 15.5564 - val_mae: 0.8664
Epoch 18/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.1140 - mae: 0.8165 - val_loss: 15.4389 - val_mae: 0.8595
Epoch 19/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.1476 - mae: 0.8032 - val_loss: 15.6545 - val_mae: 0.8695
Epoch 20/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.6557 - mae: 0.8059 - val_loss: 15.4374 - val_mae: 0.9139
Epoch 21/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.7115 - mae: 0.8129 - val_loss: 15.6292 - val_mae: 0.8396
Epoch 22/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.2247 - mae: 0.8038 - val_loss: 15.6576 - val_mae: 0.8707
Epoch 23/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.7260 - mae: 0.8013 - val_loss: 15.4065 - val_mae: 0.9605
Epoch 24/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 11.8095 - mae: 0.8314 - val_loss: 15.3835 - val_mae: 0.8976
Epoch 25/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 12.6985 - mae: 0.8484 - val_loss: 15.6838 - val_mae: 0.9133
Epoch 26/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.2322 - mae: 0.8009 - val_loss: 15.1638 - val_mae: 0.8870
Epoch 27/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 9.4612 - mae: 0.7831 - val_loss: 15.2193 - val_mae: 0.9274
Epoch 28/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.1696 - mae: 0.7890 - val_loss: 15.1305 - val_mae: 0.9353
Epoch 29/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 11.2141 - mae: 0.7948 - val_loss: 16.1317 - val_mae: 0.8938
Epoch 30/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 9.7566 - mae: 0.7883 - val_loss: 15.5503 - val_mae: 0.9034
Epoch 31/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.2715 - mae: 0.7937 - val_loss: 15.3467 - val_mae: 1.0287
Epoch 32/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 9.7388 - mae: 0.8029 - val_loss: 15.3043 - val_mae: 0.9253
Epoch 33/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 14.7980 - mae: 0.8347 - val_loss: 15.2733 - val_mae: 1.0063
Epoch 34/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.3682 - mae: 0.7769 - val_loss: 15.2135 - val_mae: 0.9787
Epoch 35/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.3178 - mae: 0.7985 - val_loss: 15.3412 - val_mae: 0.9743
Epoch 36/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 9.7275 - mae: 0.7972 - val_loss: 15.6311 - val_mae: 0.8948
Epoch 37/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.1000 - mae: 0.7980 - val_loss: 15.6678 - val_mae: 0.8496
Epoch 38/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.0485 - mae: 0.7835 - val_loss: 15.2088 - val_mae: 0.8884
Epoch 39/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 11.0247 - mae: 0.8343 - val_loss: 15.6412 - val_mae: 0.8610
Epoch 40/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 9.1368 - mae: 0.7896 - val_loss: 15.3281 - val_mae: 0.9446
Epoch 41/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.1850 - mae: 0.8360 - val_loss: 15.9336 - val_mae: 0.8425
Epoch 42/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 12.0323 - mae: 0.8554 - val_loss: 15.4854 - val_mae: 0.8840
Epoch 43/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 9.6454 - mae: 0.7899 - val_loss: 15.2682 - val_mae: 0.9222
Epoch 44/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.6781 - mae: 0.8083 - val_loss: 15.5551 - val_mae: 0.9150
Epoch 45/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 8.7054 - mae: 0.7537 - val_loss: 15.4343 - val_mae: 0.9421
Epoch 46/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.5921 - mae: 0.8038 - val_loss: 15.1196 - val_mae: 0.9640
Epoch 47/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 10.4859 - mae: 0.8100 - val_loss: 15.2529 - val_mae: 0.9150
Epoch 48/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 9.1410 - mae: 0.7582 - val_loss: 15.2803 - val_mae: 0.9591
Epoch 49/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 8.9336 - mae: 0.7809 - val_loss: 15.4627 - val_mae: 0.9331
Epoch 50/50
1560/1560 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 9.4753 - mae: 0.7868 - val_loss: 15.8185 - val_mae: 0.8734

In [38]:
# 모델 평가
loss, mae = ensemble_model.evaluate(X_test, y_test)
print(f"Test Loss: {loss}, Test MAE: {mae}")

488/488 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 257.1945 - mae: 12.0708
Test Loss: 261.2275390625, Test MAE: 12.425226211547852

In [39]:
# 모델 평가
y_pred = ensemble_model.predict(X_test_scaled)

# 예측 값과 실제 값을 원래 스케일로 복원
#y_pred = scaler_y.inverse_transform(y_pred_scaled)

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Model Performance Metrics:")
print(f"{'Metric':<10}{'Value':<20}")
print(f"{'-'*30}")
print(f"{'RMSE':<10}{rmse:<20.4f}")
print(f"{'MAE':<10}{mae:<20.4f}")
print(f"{'MSE':<10}{mse:<20.4f}")
print(f"{'R²':<10}{r2:<20.4f}")

488/488 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step
Model Performance Metrics:
Metric    Value
------------------------------
RMSE      3.3792
MAE       0.8195
MSE       11.4187
R²        0.3664

In [40]:
ensemble_model.save('ensemble_model(gru+lstm).h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

----------------

In [41]:
#rainfall_test. 제거 데이터
submit=pd.read_csv("rainfall_test_618.csv")

In [42]:
submit.head()

,rainfall_test.fc_year,rainfall_test.fc_month,rainfall_test.fc_day,rainfall_test.fc_hour,rainfall_test.stn4contest,rainfall_test.dh,rainfall_test.ef_year,rainfall_test.ef_month,rainfall_test.ef_day,rainfall_test.ef_hour,rainfall_test.v01,rainfall_test.v02,rainfall_test.v03,rainfall_test.v04,rainfall_test.v05,rainfall_test.v06,rainfall_test.v07,rainfall_test.v08,rainfall_test.v09,rainfall_test.class_interval
0,D,5,1,9,STN031,3,D,5,1,12,68,46,13,1,0,0,0,0,0,NaN
1,D,5,1,9,STN031,6,D,5,1,15,83,66,26,5,0,0,0,0,0,NaN
2,D,5,1,9,STN031,9,D,5,1,18,17,6,0,0,0,0,0,0,0,NaN
3,D,5,1,9,STN031,12,D,5,1,21,0,0,0,0,0,0,0,0,0,NaN
4,D,5,1,9,STN031,15,D,5,2,0,0,0,0,0,0,0,0,0,0,NaN

In [43]:
submit.columns = ['fc_year','fc_month','fc_day','fc_hour','stn4contest','dh','ef_year','ef_month','ef_day','ef_hour','v01','v02','v03','v04','v05','v06','v07','v08','v09','class_interval']
train = submit.copy()

In [66]:
train['ef_year'] = train['ef_year'].replace({'D': '2023'})
train['ef_datetime'] = pd.to_datetime(train[['ef_year', 'ef_month', 'ef_day', 'ef_hour']].astype(str).agg('-'.join, axis=1), 
                                       format='%Y-%m-%d-%H')
stn_mapping = {'STN031': 31, 'STN032': 32, 'STN033': 33, 'STN034': 34, 'STN035': 35}
train['stn4contest'] = train['stn4contest'].replace(stn_mapping)

In [44]:
submit['ef_year'] = submit['ef_year'].replace({'D': '2023'})
submit['ef_datetime'] = pd.to_datetime(submit[['ef_year', 'ef_month', 'ef_day', 'ef_hour']].astype(str).agg('-'.join, axis=1), 
                                       format='%Y-%m-%d-%H')

submit['weight'] = 1 / submit['dh']

for var in ['v01', 'v02', 'v03', 'v04', 'v05', 'v06', 'v07', 'v08', 'v09']:
    submit[f'{var}_weighted'] = submit[var] * submit['weight']

submit = submit.groupby(['stn4contest', 'ef_datetime']).apply(
    lambda x: pd.Series({
        'v01': np.average(x['v01'], weights=x['weight']),
        'v02': np.average(x['v02'], weights=x['weight']),
        'v03': np.average(x['v03'], weights=x['weight']),
        'v04': np.average(x['v04'], weights=x['weight']),
        'v05': np.average(x['v05'], weights=x['weight']),
        'v06': np.average(x['v06'], weights=x['weight']),
        'v07': np.average(x['v07'], weights=x['weight']),
        'v08': np.average(x['v08'], weights=x['weight']),
        'v09': np.average(x['v09'], weights=x['weight'])
    })
).reset_index()

In [25]:
submit.tail()

,stn4contest,ef_datetime,v01,v02,v03,v04,v05,v06,v07,v08,v09
6495,STN035,2023-10-10 09:00:00,4.974359,4.974359,4.0,2.0,2.0,0.0,0.0,0.0,0.0
6496,STN035,2023-10-10 12:00:00,8.000000,6.000000,6.0,5.0,0.0,0.0,0.0,0.0,0.0
6497,STN035,2023-10-10 15:00:00,8.000000,6.000000,6.0,5.0,0.0,0.0,0.0,0.0,0.0
6498,STN035,2023-10-10 18:00:00,10.000000,8.000000,8.0,8.0,6.0,2.0,0.0,0.0,0.0
6499,STN035,2023-10-10 21:00:00,10.000000,8.000000,8.0,8.0,6.0,2.0,0.0,0.0,0.0

In [17]:
train.head()

,fc_year,fc_month,fc_day,fc_hour,stn4contest,dh,ef_year,ef_month,ef_day,ef_hour,v01,v02,v03,v04,v05,v06,v07,v08,v09,class_interval
0,D,5,1,9,STN031,3,D,5,1,12,68,46,13,1,0,0,0,0,0,NaN
1,D,5,1,9,STN031,6,D,5,1,15,83,66,26,5,0,0,0,0,0,NaN
2,D,5,1,9,STN031,9,D,5,1,18,17,6,0,0,0,0,0,0,0,NaN
3,D,5,1,9,STN031,12,D,5,1,21,0,0,0,0,0,0,0,0,0,NaN
4,D,5,1,9,STN031,15,D,5,2,0,0,0,0,0,0,0,0,0,0,NaN

In [45]:
train_y = train.groupby(['stn4contest', 'ef_year', 'ef_month', 'ef_day', 'ef_hour'])[['class_interval']].mean().reset_index(drop=True)

#submit['vv'] = train_y['vv']
submit['class_interval'] = train_y['class_interval']
#submit = submit.astype({'class_interval': 'int'})

submit['year'] = submit['ef_datetime'].dt.year
submit['month'] = submit['ef_datetime'].dt.month
submit['day'] = submit['ef_datetime'].dt.day
submit['hour'] = submit['ef_datetime'].dt.hour

stn_mapping = {'STN031': 31, 'STN032': 32, 'STN033': 33, 'STN034': 34, 'STN035': 35}
submit['stn4contest'] = submit['stn4contest'].replace(stn_mapping)

submit.head()

,stn4contest,ef_datetime,v01,v02,v03,v04,v05,v06,v07,v08,v09,class_interval,year,month,day,hour
0,31,2023-05-01 12:00:00,68.0,46.0,13.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,2023,5,1,12
1,31,2023-05-01 15:00:00,83.0,66.0,26.0,5.0,0.0,0.0,0.0,0.0,0.0,NaN,2023,5,1,15
2,31,2023-05-01 18:00:00,17.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2023,5,1,18
3,31,2023-05-01 21:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2023,5,1,21
4,31,2023-05-02 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2023,5,2,0

In [46]:
features = ['stn4contest', 'v01', 'v02', 'v03', 'v04', 'v05', 'v06', 'v07', 'v08',
       'v09', 'year', 'month', 'day', 'hour']
data = submit[features]
data.head()

,stn4contest,v01,v02,v03,v04,v05,v06,v07,v08,v09,year,month,day,hour
0,31,68.0,46.0,13.0,1.0,0.0,0.0,0.0,0.0,0.0,2023,5,1,12
1,31,83.0,66.0,26.0,5.0,0.0,0.0,0.0,0.0,0.0,2023,5,1,15
2,31,17.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,5,1,18
3,31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,5,1,21
4,31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,5,2,0

In [47]:
scaler = MinMaxScaler()
features_scaled = scaler.fit_transform(data)

model = load_model('ensemble_model(gru+lstm).h5')

validation_features_scaled_reshaped = np.reshape(features_scaled, (features_scaled.shape[0], features_scaled.shape[1], 1))
predicted_rainfall = model.predict(validation_features_scaled_reshaped)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

204/204 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step

In [48]:
predicted_rainfall_df = pd.DataFrame(predicted_rainfall, columns=['PredictedRainfall'])
new_data = submit.copy()
new_data['PredictedRainfall'] = predicted_rainfall_df

In [49]:
new_data.describe()

,stn4contest,ef_datetime,v01,v02,v03,v04,v05,v06,v07,v08,v09,class_interval,year,month,day,hour,PredictedRainfall
count,6500.000000,6500,6500.000000,6500.000000,6500.000000,6500.000000,6500.000000,6500.000000,6500.000000,6500.000000,6500.000000,7.0,6500.0,6500.000000,6500.000000,6500.000000,6500.000000
mean,33.000000,2023-07-21 16:30:00,31.591288,27.023656,20.663180,16.019231,11.754328,6.209658,2.529056,0.569570,0.189367,-999.0,2023.0,7.184615,15.215385,10.518462,11.514582
min,31.000000,2023-05-01 12:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-999.0,2023.0,5.000000,1.000000,0.000000,-2.228113
25%,32.000000,2023-06-11 02:15:00,3.343482,2.347287,1.317949,0.800678,0.439370,0.135878,0.027032,0.000000,0.000000,-999.0,2023.0,6.000000,7.000000,6.000000,8.610034
50%,33.000000,2023-07-21 16:30:00,14.804096,10.169624,5.659851,3.329660,1.858488,0.665401,0.174267,0.023045,0.000000,-999.0,2023.0,7.000000,15.000000,12.000000,11.139933
75%,34.000000,2023-08-31 06:45:00,61.027057,50.055805,32.075648,19.355921,10.881231,3.685573,1.109764,0.164076,0.037060,-999.0,2023.0,8.000000,23.000000,18.000000,14.537646
max,35.000000,2023-10-10 21:00:00,100.000000,100.000000,99.479781,98.876169,97.394230,93.550199,84.959621,72.145677,49.381632,-999.0,2023.0,10.000000,31.000000,21.000000,24.851093
std,1.414322,NaN,33.131339,31.244354,27.840452,24.684170,20.854188,13.896319,7.624709,2.913762,1.403665,0.0,0.0,1.544262,8.918244,6.874368,4.551579

In [50]:
def get_class_interval(rainfall):
    if rainfall < 0.1:
        return 0
    elif 0.1 <= rainfall < 0.2:
        return 1
    elif 0.2 <= rainfall < 0.5:
        return 2
    elif 0.5 <= rainfall < 1.0:
        return 3
    elif 1.0 <= rainfall < 2.0:
        return 4
    elif 2.0 <= rainfall < 5.0:
        return 5
    elif 5.0 <= rainfall < 10.0:
        return 6
    elif 10.0 <= rainfall < 20.0:
        return 7
    elif 20.0 <= rainfall < 30.0:
        return 8
    else:
        return 9

In [51]:
# PredictedRainfall 값을 기준으로 class_interval 열 업데이트
new_data['class_interval'] = new_data['PredictedRainfall'].apply(get_class_interval)
new_data.head()

,stn4contest,ef_datetime,v01,v02,v03,v04,v05,v06,v07,v08,v09,class_interval,year,month,day,hour,PredictedRainfall
0,31,2023-05-01 12:00:00,68.0,46.0,13.0,1.0,0.0,0.0,0.0,0.0,0.0,6,2023,5,1,12,5.953260
1,31,2023-05-01 15:00:00,83.0,66.0,26.0,5.0,0.0,0.0,0.0,0.0,0.0,6,2023,5,1,15,7.538999
2,31,2023-05-01 18:00:00,17.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6,2023,5,1,18,8.754369
3,31,2023-05-01 21:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6,2023,5,1,21,9.938168
4,31,2023-05-02 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2023,5,2,0,-0.315917

In [52]:
new_data.class_interval.unique()

array([6, 0, 4, 5, 7, 2, 3, 1, 8], dtype=int64)

In [67]:
prediction_test=new_data.copy() #new_data : 개개인마다 달라유
    
merged = train.merge(prediction_test[['ef_datetime', 'stn4contest', 'class_interval']], 
                      on=['ef_datetime', 'stn4contest'], 
                      how='left', 
                      suffixes=('', '_pred'))
merged['class_interval_pred']

0         6
1         6
2         6
3         6
4         0
         ..
121995    7
121996    8
121997    8
121998    8
121999    8
Name: class_interval_pred, Length: 122000, dtype: int64

In [55]:
merged.head()

,stn4contest,ef_datetime,v01,v02,v03,v04,v05,v06,v07,v08,v09,class_interval,year,month,day,hour,class_interval_pred
0,31,2023-05-01 12:00:00,68.0,46.0,13.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,2023,5,1,12,6
1,31,2023-05-01 15:00:00,83.0,66.0,26.0,5.0,0.0,0.0,0.0,0.0,0.0,NaN,2023,5,1,15,6
2,31,2023-05-01 18:00:00,17.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2023,5,1,18,6
3,31,2023-05-01 21:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2023,5,1,21,6
4,31,2023-05-02 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2023,5,2,0,0

In [58]:
#제출용 데이터
realsubmit=pd.read_csv("rainfall_test_618.csv")

In [62]:
merged.tail()

,stn4contest,ef_datetime,v01,v02,v03,v04,v05,v06,v07,v08,v09,class_interval,year,month,day,hour,class_interval_pred
6495,35,2023-10-10 09:00:00,4.974359,4.974359,4.0,2.0,2.0,0.0,0.0,0.0,0.0,NaN,2023,10,10,9,7
6496,35,2023-10-10 12:00:00,8.000000,6.000000,6.0,5.0,0.0,0.0,0.0,0.0,0.0,NaN,2023,10,10,12,8
6497,35,2023-10-10 15:00:00,8.000000,6.000000,6.0,5.0,0.0,0.0,0.0,0.0,0.0,NaN,2023,10,10,15,8
6498,35,2023-10-10 18:00:00,10.000000,8.000000,8.0,8.0,6.0,2.0,0.0,0.0,0.0,NaN,2023,10,10,18,8
6499,35,2023-10-10 21:00:00,10.000000,8.000000,8.0,8.0,6.0,2.0,0.0,0.0,0.0,NaN,2023,10,10,21,8

In [68]:
#-999 index 저장
idx999 = realsubmit[realsubmit['rainfall_test.class_interval'].notnull()].index
merged.loc[idx999, 'class_interval_pred'] = -999

#제출용 데이터에 class_interval 채우기
realsubmit['rainfall_test.class_interval']=merged['class_interval_pred']

#저장
realsubmit.to_csv("240494.csv")  # 각자 접수번호.csv 로 저장

In [69]:
realsubmit.head()

,rainfall_test.fc_year,rainfall_test.fc_month,rainfall_test.fc_day,rainfall_test.fc_hour,rainfall_test.stn4contest,rainfall_test.dh,rainfall_test.ef_year,rainfall_test.ef_month,rainfall_test.ef_day,rainfall_test.ef_hour,rainfall_test.v01,rainfall_test.v02,rainfall_test.v03,rainfall_test.v04,rainfall_test.v05,rainfall_test.v06,rainfall_test.v07,rainfall_test.v08,rainfall_test.v09,rainfall_test.class_interval
0,D,5,1,9,STN031,3,D,5,1,12,68,46,13,1,0,0,0,0,0,6
1,D,5,1,9,STN031,6,D,5,1,15,83,66,26,5,0,0,0,0,0,6
2,D,5,1,9,STN031,9,D,5,1,18,17,6,0,0,0,0,0,0,0,6
3,D,5,1,9,STN031,12,D,5,1,21,0,0,0,0,0,0,0,0,0,6
4,D,5,1,9,STN031,15,D,5,2,0,0,0,0,0,0,0,0,0,0,0

##  CSI: 0.01
0.019.